/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  position       : fixed;
  top            : 0;
  width          : 100%;
  display        : flex;
  justify-content: space-between;

  background-color: white;
}

img#nav-logo {
  width       : 10rem;
  padding     : .5rem;
  padding-left: 1rem;
}

nav ul {
  display      : flex;
  align-items  : stretch;
  padding-right: 1rem;
}

nav li {
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

nav ul li a {
  padding    : 0 .5rem;
  line-height: 3rem;

  text-decoration: none;
  color          : black;
}

section.hero {
  margin-top: 3rem;

  background-image   : url("/images/landing.jpg");
  background-size    : cover;
  background-position: center;
  width              : 100%;
  aspect-ratio       : 16/9;

  color          : white;
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}

section.hero h1 {
  font-size: 2rem;
  padding  : 1rem 0;
}

section.hero p {
  text-align : center;
  line-height: 1rem;
  font-size  : .75rem;
}